<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('./partials/links') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-5">
      <div class="row">
        <% blogs.map((blog) => { %>
        <div class="col-md-4 card mb-5 mx-1" style="">
          <img
            class="card-img-top"
            src="<%=blog.bannerImage%>"
            alt="Card cap"
          />
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <p class="card-text"><%= blog.description %></p>
            <a href="/blog/<%=blog._id%>" class="btn btn-primary">Read More</a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
