<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogify</title>
    <%- include('./partials/links') %>
  </head>
  <body style="background-color: #e4e2e6">
    <%- include('./partials/nav') %>
    <div class="container mt-5">
      <h3 class="text-center">Latest Blogs</h3>
      <div class="row mt-5">
        <% blogs.map((blog) => { %>
        <div
          class="card col-md-3 card mb-5 mx-2"
          style="
            padding-left: 0%;
            padding-right: 0%;
            max-height: 500px;
            width: 30%;
          "
        >
          <img
            class="card-img-top w-100"
            src="<%=blog.bannerImage%>"
            alt="Card cap"
            style="height: 250px"
          />
          <div class="card-body">
            <h5 class="card-title"><%= blog.title.substring(0,70) %>...</h5>
            <p class="card-text"><%=blog.description.substring(0,230) %>...</p>
            <a href="/blog/<%=blog._id%>" class="btn btn-primary">Read More</a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
