<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/links')%>
    <title>Signup</title>
  </head>
  <body style="background-color: #e4e2e6">
    <%- include('./partials/nav')%>
    <div class="container mt-5 w-50">
      <h2 class="text-center">Sign Up</h2>
      <%if(registrationSuccess.length){ %>
        <div class="alert alert-success mt-3" role="alert">
          <%=registrationSuccess %>
        </div>
     <% } %>

     <%if(error.length){ %>
      <div class="alert alert-danger mt-3" role="alert">
        <%=error %>
      </div>
   <% } %>
      
      <form action="/signup" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            aria-describedby="username"
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3">Sign up</button>
      </form>

      <div class="mt-5 text-center">
        <p>Have an account? <a href="/signin">Sign In</a></p>
      </div>
    </div>
    </div>
    <%- include('./partials/scripts')%>
  </body>
</html>
