<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/links') %>
    <title>View Blog</title>
  </head>
  <body style="background-color: #e4e2e6">
    <%- include('./partials/nav') %>
    <div class="container mt-5 mb-5">
      <img
        class="w-100"
        src="<%=blog.bannerImage%>"
        alt="Cardcap"
        style="max-height: 450px"
      />
      <h1 class="mt-5"><%= blog.title %></h1>
      <p class="mt-3" style="line-height: 28px"><%= blog.description %></p>

      <!-- Author section -->
      <div class="mt-4 d-flex align-items-center" style="font-size: medium">
        <div>
          <img
            alt="profilIimg"
            src="<%=blog.createdBy.profileImageURL%>"
            style="width: 38px; border-radius: 50%; margin-right: 10px"
          />
        </div>
        <div>
          <p class="mb-0">
            <strong>Author:</strong> <%=blog.createdBy.username %>
          </p>
        </div>
      </div>

      <!-- comment section -->
      <div class="mt-5">
        <h3>Comments (<%=comments.length %>)</h3>
        <% comments.map((comment) => { %>
        <div class="mt-4 d-flex" style="font-size: medium">
          <div>
            <img
              alt="profilIimg"
              src="<%=comment.createdBy.profileImageURL%>"
              style="width: 48px; border-radius: 50%; margin-right: 10px"
            />
          </div>
          <div>
            <p class="mb-0"><strong><%=comment.createdBy.username%></strong></p>
            <p><%=comment.comment %></p>
          </div>
        </div>
        <% }) %>

        <!-- add comment section -->
        <div class="mt-3">
          <% if(user.username){ %>
          <form action="/blog/comment/<%=blog._id%>" method="post">
            <div class="form-group">
              <textarea
                class="form-control"
                name="comment"
                id="comment"
                rows="4"
                placeholder="Add Comment"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-4 w-100">
              Submit
            </button>
          </form>
          <% } else { %>
          <p><a href="/signin"> Sign in to add comment</a></p>
          <% } %>
        </div>
      </div>
    </div>
    <%- include('./partials/scripts') %>
  </body>
</html>
